.body {
  background-color: #fff;
  min-width: 375px;
}

.main {
  width: 325px;
  margin: 0 auto;
  text-align: center;

  &__logo {
    margin-top: 25%;
    width: 15%;
    height: 15%;
  }

  &__header {
    margin-top: 11%;
    font-family: "light", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 22px;

    &--opacity {
      opacity: 0.4;
    }

    &--bold {
      font-family: "bold", Arial, Helvetica, sans-serif;
      font-weight: 700;
      opacity: 1;
    }
  }

  &__paragraph {
    margin: 3% 0 10% 0;
    font-family: "semi-bold", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 13px;
    opacity: 0.75;
  }

  &__input-info {
    &--danger {
      color: red;
      font-size: 10px;
      font-style: italic;
      opacity: 0.75;
      display: block;
      margin-bottom: 20px;
    }
  }

  &__input {
    display: block;
    margin: 8px auto;
    height: 40px;
    border-radius: 50px;
    width: 80%;
    font-size: 14px;

    &--empty {
      padding-left: 30px;
      text-align: left;
      border: $blue 1px solid;
      color: black;
      opacity: 0.5;

      &::placeholder {
        color: $blue;
        opacity: 0.5;
      }

      &:focus {
        outline: none;
        border: $blue 1.5px solid;
      }
    }

    &--danger {
      border: red 1.3px solid;

      &:focus {
        border: red 1.3px solid;
      }
    }

    &--button {
      text-align: center;
      border: $pale-blue 1px solid;
      color: #fff;
      background: $blue;
      cursor: pointer;
      box-shadow: 3px 11px 8px -10px rgba(0, 0, 0, 0.36);

      &:hover {
        opacity: 0.75;
      }
    }
  }

  &__image-dashboard {
    width: 90%;
    height: 90%;
    margin-top: 50px;
  }
}

.main-footer {
  width: 325px;
  margin: 100px auto 15px;
  text-align: center;
  padding: 0;
}

.footer {
  text-align: center;
  list-style: none;
  display: inline-block;
}

.icon-media {
  color: $blue;
  border: $opacity-blue 1px solid;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  text-align: center;
  list-style: none;
  display: inline-block;

  &:hover {
    background: $blue;
    cursor: pointer;
    color: white;
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
    font-size: 13px;
    text-decoration: none;
    color: inherit;
    opacity: 0.9;
  }
}

.footer__copyright {
  font-family: "light", Arial, Helvetica, sans-serif;
  margin: 25px 0 25px;
  font-size: 10px;
  opacity: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;

  &--mark {
    font-size: 7px;
    line-height: normal;
    opacity: 0.6;
    margin: 0 2px;
  }
}
