@font-face {
   font-family: "bold";
   src: url("../fonts/LibreFranklin-Bold.ttf") format("trutype");
}

@font-face {
  font-family: "semi-bold";
  src: url("../fonts/LibreFranklin-SemiBold.ttf") format("trutype");
}

  @font-face {
    font-family: "light";
    src: url("../fonts/LibreFranklin-Light.ttf") format("trutype");
  }

  @font-face {
    font-family: "thin";
    src: url("../fonts/LibreFranklin-Thin.ttf") format("trutype");
  }