@media screen and (min-width: 600px) {
  .body {
    width: 500px;
    margin: 0 auto;
  }

  .main {
    width: 500px;

    &__logo {
      margin-top: 12%;
      width: 13%;
      height: 13%;
    }

    &__header {
      font-size: 34px;
      margin: 5% 0 10px 0;
    }

    &__paragraph {
      font-size: 17px;
      margin: 15px 0 5% 0;
    }

    &__input {
      width: 105%;
      height: 40px;
      font-size: 14px;
      margin-bottom: 0;

      &--empty {
        padding-left: 20px;
      }
    }

    &__input-info {
      &--danger {
        grid-area: danger;
        text-align: left;
        margin-left: 20px;
      }
    }

    &__image-dashboard {
      width: 90%;
      height: 90%;
      margin-top: 20px;
    }
  }

  .grid {
    width: 450px;
    margin: 0 auto;
    column-gap: 27px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px 20px;
    grid-template-areas:
      "empty empty button"
      "danger danger .";

    &__left {
      grid-area: empty;
    }

    &__right {
      grid-area: button;
    }
  }

  .icon-media {
    width: 38px;
    height: 38px;

    &__link {
      font-size: 18px;
    }
  }

  .main-footer {
    margin-top: 60px;
  }

  .footer {
    &__copyright {
      font-size: 15px;
      margin-top: 10px;

      &--mark {
        font-size: 10px;
        margin: 5px 2px;
      }
    }
  }
}
